.order-item {
  display: grid;
  grid-template-columns: 0.5fr 2fr 1fr 1fr 1fr;
  align-items: start;
  gap: 30px;
  border: 1px solid tomato;
  padding: 20px;
  margin: 30px 0;
  font-size: 14px;
  color: rgb(102, 102, 102);
  background-color: #fff;
  border-radius: 10px;
  transition: all 0.3s ease;
}

.order-item:hover {
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.order-item-food,
.order-item-name {
  font-weight: 600;
}

.order-item-name {
  margin-top: 30px;
  margin-bottom: 5px;
}

.order-item-address {
  margin-bottom: 10px;
}

.order-item select {
  background-color: rgb(238, 238, 163);
  border: 1px solid tomato;
  width: max(10vw, 120px);
  padding: 10px;
  outline: none;
  border-radius: 6px;
}


@media (max-width: 992px) {
  .order-item {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    font-size: 13px;
  }
}


@media (max-width: 768px) {
  .order-item {
    grid-template-columns: 1fr 1fr;
    gap: 15px;
    padding: 15px;
    font-size: 12px;
  }

  .order-item select {
    width: 100%;
  }
}

@media (max-width: 480px) {
  .order-item {
    grid-template-columns: 1fr;
    text-align: left;
    gap: 10px;
  }

  .order-item-name,
  .order-item-address {
    margin: 5px 0;
  }
}
